.grid-jets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.grid-home-jets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.image-container {
  width: 100%; /* You can set the width of the container */
  height: 30rem; /* You can set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */
  border-radius: 1rem;

  a {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 100%; /* Make the image take the full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 1rem;
    transition: 0.8s;

    &:hover {
      filter: brightness(60%);
      transition: 0.8s;
    }
  }

  h5 {
    font-family: 'Raleway', sans-serif;
    color: #1B263B;
    font-weight: 600;
  }

  p {
    font-family: 'Raleway', sans-serif;
    color: #1B263B;
    margin: 0 auto;
    padding: 0;
  }
}


.card-user-jet {
  width: 100%; /* You can set the width of the container */
  height: 10rem; /* You can set the height of the container */
  overflow: hidden; /* Hide any overflow of the image */

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 100%; /* Make the image take the full height of the container */
  }

  h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

  p {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0;
  }
}

.card-booking {
  width: 70%;
  border-radius: 1rem;
  padding: 1rem;
}

.card-details {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 8px rgba(0,0,0, 0.3);
}

.card-info {
  box-shadow: 0 0 8px rgba(0,0,0, 0.3);
}
.my-jets-container {
  width: 70%;
  box-shadow: 0 0 8px rgba(0,0,0, 0.3);
  font-family: "Raleway";
}
