.jet-detail-image {
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.3);
  }
}

.jet-title {
  font-family: "Raleway";
  font-size: 1.5rem;
  color: #1B263B;

  h1 {
    font-size: 2rem;
    color: #1B263B;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    color: #1B263B;
  }
}
