.jet-detail-image {
  margin-top: 20px;
}

.jet-detail-information {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

img {
  border-radius: 10px;
}

.detail-container {
  margin-top: 35px;
  margin-bottom: 35px;
}
