<footer>
  <div class="container d-flex justify-content-center">
    <p>© SkyRentalz GmbH</p>
    <p>|</p>
    <p>Terms</p>
    <p>|</p>
    <p>Sitemap</p>
    <p>|</p>
    <p>Privacy</p>
  </div>

</footer>
